/* Root Variables */
:root {
  --website-bg-c: #e4e4e4;
  --a-c: #0f1035;
  --a-visited-c: #0f1035;
  --a-hover-c: #365486;
  --default-button-c: #636363;
  --grid-item-bg-c: #cacaca;
}

/* Global Styles */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  background-color: var(--website-bg-c);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  color: var(--a-c);
}

a:visited {
  color: var(--a-visited-c);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--a-hover-c);
}

a:active {
  text-decoration: none;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--default-button-c);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.1);
}

/* Navigation */
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 30px;
}

.navigation-list__item {
  line-height: 1.5;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Headers */
h1 {
  font-size: 45px;
}

.call-to-action {
  font-size: 25px;
}

/* Profile */
.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  height: auto;
  width: 275px;
  margin-right: 40px;
  border-radius: 50%;
}

/* Page Header */
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
  border-radius: 10px;
  height: 60px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Page Footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--grid-item-bg-c);
  border-radius: 10px;
  max-width: 480px;
  transition: transform 0.1s ease;
}

.grid__item:hover {
  transform: scale(1.02);
  opacity: 1;
}

/* Responsive Design */
@media all and (max-width: 1500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

#resume-button {
  margin-top: 14px;
}


/* Miscellaneous */
.FMOIcons {
  margin: 5px;
  transition: transform 0.1s ease;
}

.FMOIcons:hover {
  transform: scale(1.2);
  opacity: 1;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 260px;
  border-radius: 10px;
}

#vinnieInSun {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
}

.material-symbols-outlined {
  /* vertical-align: middle; Ensures better alignment */
  position: relative;
  top: 4px;
}


/* Page Specific */
.about-body,
.contact-body,
.work-body {
  text-align: center;
}
